[ req ]
default_bits            = 4096
default_keyfile         = /opt/ca/private/ca.videntity.comKey.pem
default_md              = sha256
prompt                  = no
distinguished_name      = root_ca_distinguished_name
x509_extensions         = v3_ca

[ root_ca_distinguished_name ]
countryName             = US
stateOrProvinceName     = West Virginia
localityName            = Williamsburg
0.organizationName      = Videntity, Inc. - Root CA
commonName              = ca.videntity.com
emailAddress            = ca.videntity.com

[ v3_ca ]
subjectKeyIdentifier    = hash
subjectAltName          = @alt_names
authorityKeyIdentifier  = keyid:always,issuer:always
basicConstraints        = critical, CA:true
keyUsage                = keyCertSign, cRLSign
crlDistributionPoints   = URI:http://ca.videntity.com/crl/videntity-ca-crl.pem, URI:http://rcsp.videntity.com/01.json

[alt_names]
DNS.1                   = ca.videntity.com

[ ca ]
default_ca              = CA_default

[ CA_default ]
dir                     = .
new_certs_dir           = /opt/ca/signed-keys/
database                = /opt/ca/conf/index
certificate             = /opt/ca/public/ca.videntity.com.pem
serial                  = /opt/ca/conf/serial
private_key             = /opt/ca/private/ca.videntity.comKey.pem
x509_extensions         = usr_cert
name_opt                = ca_default
cert_opt                = ca_default
default_crl_days        = 01
default_days            = 7330
default_md              = sha256
preserve                = no
policy                  = policy_match

[ policy_match ]
countryName             = match
stateOrProvinceName     = supplied
localityName            = supplied
organizationName        = supplied
organizationalUnitName  = optional
commonName              = supplied
emailAddress            = supplied

[ usr_cert ]
#basicConstraints        = CA:FALSE
subjectKeyIdentifier    = hash
authorityKeyIdentifier  = keyid,issuer:always
nsCaRevocationUrl       = http://ca.directca.org/crl/direct-ca-crl.pem
basicConstraints        = critical, CA:TRUE
keyUsage                = keyCertSign, cRLSign
subjectAltName          = @alt_names2
crlDistributionPoints   = URI:http://ca.directca.org/crl/direct-ca-crl.pem, URI:http://rcsp.directca.org/01.json



[alt_names2]
DNS.1                   = ca.directca.org




[ crl_ext ]
authorityKeyIdentifier  = keyid:always,issuer:always
